<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
  <bean id="addService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    	<property name="serviceUrl" value="http://localhost:8080/hessianService/addService.hessian" />
    	<property name="serviceInterface" value="com.tmh.hessian.service.AddService" />
		<!-- By default the value is false. As a matter of fact, it doesn't influence the test result, the overloaded method still be supported -->
		<property name="overloadEnabled" value="false" />
  </bean>
  
  <bean id="tokenGenerator" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    	<property name="serviceUrl" value="http://localhost:8080/hessianService/tokenGenerator.hessian" />
    	<property name="serviceInterface" value="com.tmh.hessian.service.TokenGenerator" />
		<!-- By default the value is false. As a matter of fact, it doesn't influence the test result, the overloaded method still be supported -->
		<property name="overloadEnabled" value="false" />
  </bean>
  
</beans>
